@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body
{
    margin: 0;
    padding: 0;
}
.calculator
{
    padding: 20px;
    border: 0.5px solid black;
    border-radius: 10px;
    height: 600px;
    width: 400px;
    margin: auto;
    background-color: #191b28;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.display-box
{
    font-family: 'Press Start 2P', sans-serif;
    background-color: gray;
    border: 5px solid black;
    color: black;
    border-radius: 10px;
    height:60%;
}
.button
{
    font-family: 'Press Start 2P', sans-serif;
    background-color: lightgray;
    color: black;
    border: 5px solid black;
    border-radius: 10px;
    width: 90px;
    height: 70%;
    outline: none;
    font-size: 20px;
}
.button:active
{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}